body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f8efd4, #fddbb0);
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin: 0 1.5rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #fddbb0;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar a {
        margin: 0 1rem;
    }
}

.socials {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;

    background: #fddbb0;
    padding: 1rem;
    border-radius: 10px;
}

.socials a {
    color: #000000;
    transition: color 0.3s;
    margin: 0 0.5rem;
    cursor: pointer;
}
.socials a:hover {
    color: #333;
}

@media screen and (max-width: 768px) {
    .socials {
        right: 0.5rem;
        bottom: 0.5rem;
    }
}

footer {
    text-align: center;
    padding: 1rem;
    background: #444;
    color: #fff;
}