body {
    overflow-x: hidden;
}

html, body {
    background-color: var(--background-color);
}

.content {
    width: 100%;
    height: fit-content;
}

.content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    z-index: 100;

    filter: blur(4px);
}

.content__info {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 200;
}

.content__info__image {
    height: 50vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__info__image img {
    height: 100%;
    border-radius: 10px;
    border: 3px solid #131313;
}

.content__info__image__caption {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    mix-blend-mode: difference;
    color: black;
}

.content__info__image__caption a {
    color: var(--color-light);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
    color: black;
}

.content__info__image__caption a:hover {
    color: var(--color-light-dark);
}

.content__info__text {
    width: 30%;
    background-color: #232323;
    padding: 0px 30px;
    border-radius: 10px;
}

.content__info__text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__info__text p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.content__info__text a {
    color: var(--color-light);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}

.content__info__text a:hover {
    color: var(--color-light-dark);
}

.content__info__socials {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}

.content__info__socials li {
    margin-right: 10px;
    display: inline-block;
}

.content__info__socials li a {
    color: var(--color-light);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.content__info__socials li a:hover {
    color: var(--color-light-dark);
}

.content__info__scroll_indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.content__info__scroll_indicator a {
    text-decoration: none;
}

.content__info__scroll_indicator i {
    color: var(--color-dark);
    font-size: 2rem;
    animation: scroll_indicator 1.3s linear infinite;
    margin: 0 10px;
}

@keyframes scroll_indicator {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.content__skills {
    width: 100%;
    height: 15vh;
    padding: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    z-index: 300;
    position: relative;

    margin-top: 60px;
}

.content__skills h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.content__skills li {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.content__skills li:hover {
    transform: scale(1.07);
}

.content__skills img {
    width: 100px;
    height: 100px;
}

.content__skills p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

.train {
    width: 60%;
    height: auto;

    position: absolute;
    z-index: 100;
    overflow: hidden;
    filter: invert(1);
}

@keyframes train_normal {
    0% {
        transform: translateX(-150vw);
    }

    100% {
        transform: translateX(150vw);
    }
}
@keyframes train_reverse {
    0% {
        transform: translateX(150vw);
    }

    100% {
        transform: translateX(-150vw);
    }
}

.content__current_project {
    width: 100%;
    height: 70vh;
    padding: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    border-radius: 10px;
    z-index: 300;
    position: relative;
}

.content__current_project__text {
    width: 40%;
    height: 100%;
    padding: 0 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__current_project__text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.content__current_project__text h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

.content__current_project__text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px;
}

.content__current_project__text a {
    color: var(--color-light);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}

.content__current_project__text a:hover {
    color: var(--color-light-dark);
}

.content__current_project__image {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__current_project__image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}