.hero {
    text-align: center;
    background: url('background-pattern.svg') no-repeat center/cover;
    color: #333;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fddbb0;
    margin-bottom: 0;

    animation: zoomIn 0.7s;
    transition: transform 0.3s;
}

.hero img:hover {
    transform: scale(1.1);
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.hero #bio {
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
        width: 80%;
    }
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

.skills {
    padding: 3rem 2rem;
    background: #fef6eb;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    border-radius: 10px;
}

.skills h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.skills .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills .logos div {
    margin: 1rem;
    transition: transform 0.3s;
}

.skills .logos div:hover {
    transform: scale(1.1);
}

.skills .logos img {
    width: 6rem;
    height: 6rem;
}

.skills .logos p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    .skills {
        padding: 2rem 1rem;
        margin: 1rem;
    }

    .skills .logos img {
        width: 4rem;
        height: 4rem;
    }

    .skills .logos p {
        font-size: 1rem;
    }
}

.about {
    padding: 3rem 2rem;
    background: #fef6eb;
    text-align: center;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.2rem;
    width: 65%;
}

.about a {
    color: #333;
    transition: color 0.3s;
}
.about a:hover {
    color: #757575;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 2rem 1rem;
        margin: 1rem;
    }

    .about p {
        width: 90%;
    }
}

.contact {
    padding: 3rem 2rem;
    background: #333;
    text-align: center;
    color: #fff;
}

.contact p {
    margin-bottom: 2rem;
}

.contact a {
    text-decoration: none;
    color: #333;
    background: #fddbb0;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background 0.3s;
}

.contact a:hover {
    background: #f8b87e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}