body {
    overflow-x: hidden;
}

html, body {
    background-color: var(--background-color);
}

.content {
    width: 100%;
    height: fit-content;
}

.content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;
    z-index: 100;

    filter: blur(4px);
}

.content__info {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 200;

    background: linear-gradient(180deg, #D5B9B2 0%, var(--background-color) 100%);
}

@media screen and (max-width: 768px) {
    .content__info {
        flex-direction: column;
        height: 100dvh;
    }
}

.content__info__image {
    height: 50vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .content__info__image {
        display: none;
    }
}

.content__info__image img {
    height: 100%;
    border-radius: 10px;
    border: 3px solid #131313;
}

.content__info__image__caption {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
    mix-blend-mode: difference;
    color: black;
}

.content__info__image__caption a {
    color: var(--color-dark);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
    color: black;
}

.content__info__image__caption a:hover {
    color: var(--color-light-dark);
}

.content__info__text {
    width: 30%;
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0px 30px;
    border-radius: 10px;
}

.content__info__text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__info__text p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.content__info__text a {
    color: var(--color-light);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}

.content__info__text a:hover {
    color: var(--color-light-dark);
}

.content__info__socials {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    padding: 0;
}

.content__info__socials li {
    margin-right: 10px;
    display: inline-block;
}

.content__info__socials li a {
    color: var(--color-light);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.content__info__socials li a:hover {
    color: var(--color-light-dark);
}

@media screen and (max-width: 768px) {
    .content__info__text {
        width: 80%;
    }
}

.content__info__scroll_indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.content__info__scroll_indicator a {
    text-decoration: none;
}

.content__info__scroll_indicator i {
    color: var(--color-dark);
    font-size: 2rem;
    animation: scroll_indicator 1.3s linear infinite;
    margin: 0 10px;
}

@keyframes scroll_indicator {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.content__skills {
    width: 100%;
    height: 15vh;
    padding: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    z-index: 300;
    position: relative;

    margin-top: 60px;
}

.content__skills h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--color-dark);
    border-radius: 30px;
    padding: 30px 40px 10px 40px;
}

.content__skills li {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.content__skills li:hover {
    transform: scale(1.07);
}

.content__skills img {
    width: 100px;
    height: 100px;
}

.content__skills p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    color: var(--color-light);
}

@media screen and (max-width: 768px) {
    .content__skills {
        height: auto;
        margin-top: 0;
        padding: 0;
        padding-top: 50px;
    }

    .content__skills ul {
        justify-content: center;
        padding: 0;
    }
}

.content__about {
    width: 100%;
    height: fit-content;
    padding: 5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    z-index: 300;
    position: relative;
}

.content__about__text {
    width: 50%;
    text-align: center;
}

.content__about__text h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__about__text p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 10px;
}

.content__about__text a {
    color: var(--color-dark);
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}