@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4756df;
}

a:hover {
  color: #ff7235;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #E3D4FF;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #812AD8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: white;
  font-weight: 400;
}

nav a {
  color: white;
  transition: 0.3s;
}
nav a:hover {
  color: #E3D4FF;
  border-bottom: 2px solid #512e90;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: 400;
}

.burger-menu {
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Hero section */
.hero {
  display: flex;
  background-color: #9142CE;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  /* max-width: 68.75rem; */
  width: 100%;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 35.25rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  color: white;
  text-align: center;
}

.bio h1 {
  margin-bottom: 0.5rem;
}

.bio-text {
  text-align: center;
}

.bio p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}
/* Hero section ends */

/* Buttons section */
.view-projects {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  border: 0;
  color: #ffffff;
  font-size: 17px;
  background: #AD5401;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.view-projects:hover {
  background: #a8520c;
  text-decoration: none;
  cursor: pointer;
}
/* Buttons end */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
  font-size: 37px;
}

.skills-wrapper img {
  padding: 1.25rem;
  background-color: #C7A8FF;
  border-radius: 7px;
  margin-left: 11px;
  margin-right: 11px;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 37px;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
  background-color: #C7A8FF;
  border-radius: 7px;
  margin-left: 11px;
  margin-right: 11px;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 0.5rem;
}

.project-details {
  margin-bottom: 0.5rem;
}

.projects-btn {
  margin-top: 1.75rem;
  text-align: center;
}

/* Projects section ends */

.copy {
  text-align: right;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: #812AD8;
    flex-direction: column;
    top: 86px;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    display: none;
  }

  .bio {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 20.5rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
    margin-bottom: 1rem;
  }

  .projects-btn {
    margin-top: 0rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .projects-title {
    font-size: 25px;
  }

  .skill-header {
    font-size: 25px;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}